.tournaments {
  .pager-group {
    float: right;
    display: flex;

    li {
      border: 1px solid #281D61;
      margin-right: 18px;
      text-align: center;
      padding: 5px 15px;

      a {
        color: aqua;
      }

      a:hover {
        color: white;
      }
    }

    .disabled {
      cursor: default;
    }

    .disabled:hover,
    .disabled a:hover {
      cursor: not-allowed;
    }
  }
}

#tournaments-section {
  .single-item {
    .bg {
      margin-right: 10px;
    }

    .first {
      color: #00ACF6;
    }

    .second {
      color: #FFAF02;
    }

    .third {
      color: #FF7E32;
    }
  }

  .box-item {
    padding: 15px;
  }

  .icon-copy {
    cursor: pointer;
    width: 20px;
  }
}

#ads-container {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  iframe{
    padding: 0px 46px;
  }
}